<div id="<%= dom_id pessoa %>">
  <p>
    <strong>Nome:</strong>
    <%= pessoa.nome %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= pessoa.email %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= pessoa.telefone %>
  </p>

</div>
